/**
 * CSS admin styles for WordPress 3.7 and below.
 */
 
/* Tabs
------------------------------------------------------ */

.fl-pre-wp-3-8 .fl-builder-admin-tabs a {
	text-shadow: #fff 0 1px 0;
	background: -moz-linear-gradient(top,  rgba(245,245,245,0.65) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,0.65)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(245,245,245,0.65) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(245,245,245,0.65) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(245,245,245,0.65) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(245,245,245,0.65) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6f5f5f5', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.fl-pre-wp-3-8 .fl-builder-admin-tabs a:hover,
.fl-pre-wp-3-8 .fl-builder-admin-tabs a.fl-active {
	border-color: #ccc #ccc #fff;
}
.fl-pre-wp-3-8 .fl-builder-admin-tabs a:hover {
	color: #d54e21;
}
.fl-pre-wp-3-8 .fl-builder-admin-tabs a.fl-active {
	color: #464646;
}

/* Loading
------------------------------------------------------ */

.fl-builder-loading {
	background: rgba(255,255,255,0.8) url(../img/ajax-loader.gif) center center no-repeat;
}
