/**
 * This is for convenience of developing only. The minified result should go into
 * the _css var in iris.js. Run grunt cssmin to generate.
 */
.fl-color-picker-ui .iris-picker {
	width: 200px;
	height: 215px;
	display: block;
	position: relative;
	border-top: 1px solid rgba(0,0,0,0.1);
}
.fl-color-picker-ui .iris-picker, .iris-picker * {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.fl-color-picker-ui .iris-error {
	background-color: #ffafaf;
}
.fl-color-picker-ui .iris-picker-inner{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.fl-color-picker-ui .iris-picker .iris-square-inner {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.fl-color-picker-ui .iris-picker .iris-square{
	width: 200px;	
	height: 200px;	
}
.fl-color-picker-ui .iris-picker .iris-slider,
.fl-color-picker-ui .iris-picker .iris-square-inner,
.fl-color-picker-ui .iris-picker .iris-palette {
	height: 100%;
	width: 12.5%;
}
.fl-color-picker-ui .iris-picker .iris-placeholder,
.fl-color-picker-ui .iris-picker .iris-square {
	position: relative;
}
.fl-color-picker-ui .iris-picker .iris-square-inner {
	width: auto;
	margin: 0;
}
.fl-color-picker-ui .iris-ie-9 .iris-square,
.fl-color-picker-ui .iris-ie-9 .iris-slider,
.fl-color-picker-ui .iris-ie-9 .iris-square-inner,
.fl-color-picker-ui .iris-ie-9 .iris-palette {
	box-shadow: none;
	border-radius: 0;
}
.fl-color-picker-ui .iris-ie-9 .iris-square,
.fl-color-picker-ui .iris-ie-9 .iris-slider,
.fl-color-picker-ui .iris-ie-9 .iris-palette {
	outline: 1px solid rgba(0,0,0,.1);
}
.fl-color-picker-ui .iris-ie-lt9 .iris-square,
.fl-color-picker-ui .iris-ie-lt9 .iris-slider,
.fl-color-picker-ui .iris-ie-lt9 .iris-square-inner,
.fl-color-picker-ui .iris-ie-lt9 .iris-palette {
	outline: 1px solid #999;
}

.fl-color-picker-ui .iris-ie-lt9 .iris-square .ui-slider-handle {
	outline: 1px solid #999;
	background-color: #fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
.fl-color-picker-ui .iris-ie-lt9 .iris-square .iris-square-handle {
	background: none;
	border: 3px solid #fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.fl-color-picker-ui .iris-picker .iris-strip {
	width: 200px;
	margin-top: 5px;
	position: relative;
	height: 10px;
	-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		 -o-transform: rotate(180deg);
			transform: rotate(180deg);
}
.fl-color-picker-ui .iris-picker .iris-strip .ui-slider-handle {
	width: 6px;
	position: absolute;
	right: 0;
	top: -2px;
	bottom: -2px;
	margin: 0;
	border-radius: 3px;
	background: #fff;
	box-shadow: 0 0px 2px rgba(0,0,0,.5);
	z-index: 5;
	cursor: ew-resize;
}
.fl-color-picker-ui .iris-picker .iris-slider-offset {
	position: absolute;
	top: 0;
	left: 6px;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
	background: transparent;
	border: none;
	border-radius: 0;
	-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		 -o-transform: rotate(180deg);
			transform: rotate(180deg);
}
.fl-color-picker-ui .iris-picker .iris-square-handle {
	background: transparent;
	border: 5px solid #999;
	border-radius: 50%;
	border-color: rgba(128,128,128,.5);
	box-shadow:none;
	width:  12px;
	height: 12px;
	position: absolute;
	left: -10px;
	top:  -10px;
	cursor: move;
	opacity: 1;
	z-index: 10;
}
.fl-color-picker-ui .iris-picker .ui-state-focus .iris-square-handle {
	opacity: .8;
}
.fl-color-picker-ui .iris-picker .iris-square-handle:hover {
	border-color: #999;
}
.fl-color-picker-ui .iris-picker .iris-square-value:focus .iris-square-handle {
	box-shadow: 0 0 2px rgba(0,0,0,.75);
	opacity: .8;
}
.fl-color-picker-ui .iris-picker .iris-square-handle:hover::after {
	border-color: #fff;
}
.fl-color-picker-ui .iris-picker .iris-square-handle::after {
	position: absolute;
	bottom: -4px;
	right:  -4px;
	left:   -4px;
	top:    -4px;
	border: 3px solid #f9f9f9;
	border-color: rgba(255,255,255,.8);
	border-radius: 50%;
	content: " ";
}
.fl-color-picker-ui .iris-picker .iris-square-value {
	width:  8px;
	height: 8px;
	position: absolute;
}
.iris-ie-lt9 .iris-square-value, .iris-mozilla .iris-square-value {
	width: 1px;
	height: 1px;
}

/* Beaver Picker Stuff ---------------------------------------------- */

.fl-color-picker-wrapper{
	position: relative;
	width: 48px;
	height: 32px;
}
.fl-color-picker-color{
	position: relative;
	float: left;
	width: 30px;
	height: 30px;
	border: 1px solid rgba(0,0,0,0.1);
	background-color: transparent;
	cursor: pointer;
}
.fl-color-picker-color.fl-color-picker-empty{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABG2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS4xLjIiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+MahxaQAAAAlwSFlzAAALEwAACxMBAJqcGAAACk9pQ0NQUGhvdG9zaG9wIElDQyBwcm9maWxlAAB42p1TZ1RT6RY99970QkuIgJRLb1IVCCBSQouAFJEmKiEJEEqIIaHZFVHBEUVFBBvIoIgDjo6AjBVRLAyKCtgH5CGijoOjiIrK++F7o2vWvPfmzf611z7nrPOds88HwAgMlkgzUTWADKlCHhHgg8fExuHkLkCBCiRwABAIs2Qhc/0jAQD4fjw8KyLAB74AAXjTCwgAwE2bwDAch/8P6kKZXAGAhAHAdJE4SwiAFABAeo5CpgBARgGAnZgmUwCgBABgy2Ni4wBQLQBgJ3/m0wCAnfiZewEAW5QhFQGgkQAgE2WIRABoOwCsz1aKRQBYMAAUZkvEOQDYLQAwSVdmSACwtwDAzhALsgAIDAAwUYiFKQAEewBgyCMjeACEmQAURvJXPPErrhDnKgAAeJmyPLkkOUWBWwgtcQdXVy4eKM5JFysUNmECYZpALsJ5mRkygTQP4PPMAACgkRUR4IPz/XjODq7OzjaOtg5fLeq/Bv8iYmLj/uXPq3BAAADhdH7R/iwvsxqAOwaAbf6iJe4EaF4LoHX3i2ayD0C1AKDp2lfzcPh+PDxFoZC52dnl5OTYSsRCW2HKV33+Z8JfwFf9bPl+PPz39eC+4iSBMl2BRwT44MLM9EylHM+SCYRi3OaPR/y3C//8HdMixEliuVgqFONREnGORJqM8zKlIolCkinFJdL/ZOLfLPsDPt81ALBqPgF7kS2oXWMD9ksnEFh0wOL3AADyu2/B1CgIA4Bog+HPd//vP/1HoCUAgGZJknEAAF5EJC5UyrM/xwgAAESggSqwQRv0wRgswAYcwQXcwQv8YDaEQiTEwkIQQgpkgBxyYCmsgkIohs2wHSpgL9RAHTTAUWiGk3AOLsJVuA49cA/6YQiewSi8gQkEQcgIE2Eh2ogBYopYI44IF5mF+CHBSAQSiyQgyYgUUSJLkTVIMVKKVCBVSB3yPXICOYdcRrqRO8gAMoL8hrxHMZSBslE91Ay1Q7moNxqERqIL0GR0MZqPFqCb0HK0Gj2MNqHn0KtoD9qPPkPHMMDoGAczxGwwLsbDQrE4LAmTY8uxIqwMq8YasFasA7uJ9WPPsXcEEoFFwAk2BHdCIGEeQUhYTFhO2EioIBwkNBHaCTcJA4RRwicik6hLtCa6EfnEGGIyMYdYSCwj1hKPEy8Qe4hDxDckEolDMie5kAJJsaRU0hLSRtJuUiPpLKmbNEgaI5PJ2mRrsgc5lCwgK8iF5J3kw+Qz5BvkIfJbCp1iQHGk+FPiKFLKakoZ5RDlNOUGZZgyQVWjmlLdqKFUETWPWkKtobZSr1GHqBM0dZo5zYMWSUulraKV0xpoF2j3aa/odLoR3ZUeTpfQV9LL6Ufol+gD9HcMDYYVg8eIZygZmxgHGGcZdxivmEymGdOLGcdUMDcx65jnmQ+Zb1VYKrYqfBWRygqVSpUmlRsqL1Spqqaq3qoLVfNVy1SPqV5Tfa5GVTNT46kJ1JarVaqdUOtTG1NnqTuoh6pnqG9UP6R+Wf2JBlnDTMNPQ6RRoLFf47zGIAtjGbN4LCFrDauGdYE1xCaxzdl8diq7mP0du4s9qqmhOUMzSjNXs1LzlGY/B+OYcficdE4J5yinl/N+it4U7yniKRumNEy5MWVca6qWl5ZYq0irUatH6702ru2nnaa9RbtZ+4EOQcdKJ1wnR2ePzgWd51PZU92nCqcWTT069a4uqmulG6G7RHe/bqfumJ6+XoCeTG+n3nm95/ocfS/9VP1t+qf1RwxYBrMMJAbbDM4YPMU1cW88HS/H2/FRQ13DQEOlYZVhl+GEkbnRPKPVRo1GD4xpxlzjJONtxm3GoyYGJiEmS03qTe6aUk25pimmO0w7TMfNzM2izdaZNZs9Mdcy55vnm9eb37dgWnhaLLaotrhlSbLkWqZZ7ra8boVaOVmlWFVaXbNGrZ2tJda7rbunEae5TpNOq57WZ8Ow8bbJtqm3GbDl2AbbrrZttn1hZ2IXZ7fFrsPuk72Tfbp9jf09Bw2H2Q6rHVodfnO0chQ6Vjrems6c7j99xfSW6S9nWM8Qz9gz47YTyynEaZ1Tm9NHZxdnuXOD84iLiUuCyy6XPi6bG8bdyL3kSnT1cV3hetL1nZuzm8LtqNuv7jbuae6H3J/MNJ8pnlkzc9DDyEPgUeXRPwuflTBr36x+T0NPgWe15yMvYy+RV63XsLeld6r3Ye8XPvY+cp/jPuM8N94y3llfzDfAt8i3y0/Db55fhd9DfyP/ZP96/9EAp4AlAWcDiYFBgVsC+/h6fCG/jj8622X2stntQYyguUEVQY+CrYLlwa0haMjskK0h9+eYzpHOaQ6FUH7o1tAHYeZhi8N+DCeFh4VXhj+OcIhYGtExlzV30dxDc99E+kSWRN6bZzFPOa8tSjUqPqouajzaN7o0uj/GLmZZzNVYnVhJbEscOS4qrjZubL7f/O3zh+Kd4gvjexeYL8hdcHmhzsL0hacWqS4SLDqWQEyITjiU8EEQKqgWjCXyE3cljgp5wh3CZyIv0TbRiNhDXCoeTvJIKk16kuyRvDV5JMUzpSzluYQnqZC8TA1M3Zs6nhaadiBtMj06vTGDkpGQcUKqIU2TtmfqZ+ZmdsusZYWy/sVui7cvHpUHyWuzkKwFWS0KtkKm6FRaKNcqB7JnZVdmv82JyjmWq54rze3Ms8rbkDec75//7RLCEuGStqWGS1ctHVjmvaxqObI8cXnbCuMVBSuGVgasPLiKtipt1U+r7VeXrn69JnpNa4FewcqCwbUBa+sLVQrlhX3r3NftXU9YL1nftWH6hp0bPhWJiq4U2xeXFX/YKNx45RuHb8q/mdyUtKmrxLlkz2bSZunm3i2eWw6Wqpfmlw5uDdnatA3fVrTt9fZF2y+XzSjbu4O2Q7mjvzy4vGWnyc7NOz9UpFT0VPpUNu7S3bVh1/hu0e4be7z2NOzV21u89/0+yb7bVQFVTdVm1WX7Sfuz9z+uiarp+Jb7bV2tTm1x7ccD0gP9ByMOtte51NUd0j1UUo/WK+tHDscfvv6d73ctDTYNVY2cxuIjcER55On3Cd/3Hg062naMe6zhB9Mfdh1nHS9qQprymkabU5r7W2Jbuk/MPtHW6t56/EfbHw+cNDxZeUrzVMlp2umC05Nn8s+MnZWdfX4u+dxg26K2e+djzt9qD2/vuhB04dJF/4vnO7w7zlzyuHTystvlE1e4V5qvOl9t6nTqPP6T00/Hu5y7mq65XGu57nq9tXtm9+kbnjfO3fS9efEW/9bVnjk93b3zem/3xff13xbdfnIn/c7Lu9l3J+6tvE+8X/RA7UHZQ92H1T9b/tzY79x/asB3oPPR3Ef3BoWDz/6R9Y8PQwWPmY/Lhg2G6544Pjk54j9y/en8p0PPZM8mnhf+ov7LrhcWL3741evXztGY0aGX8peTv218pf3qwOsZr9vGwsYevsl4MzFe9Fb77cF33Hcd76PfD0/kfCB/KP9o+bH1U9Cn+5MZk5P/BAOY8/xjMy3bAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAGbSURBVHjajNO/S1VxGMfx9+ebQ6FiImkOgatTDYlKXgfPgVAbHRpt6U/oH6jmHAPH2gOX2vx1URCaWoKGhhQ1hKsJLnqeT8sxTveeSz3bFx5ez/f58vkqyzL+pyQhiYhYsL0i6bIoiuf6B/AIENCUBPAUWAX6AGx/6wpIyoEPJTBhewxYk9Rz3RMRXYEeSevATHneB/qBgcqAi4hY6gAkYVvApKS3wP2aAYWk5Yh4rzzPKff7U7axfQP4LKkdOJb0zPZH23QAtpE0FBGbwLmkV7ZfV6AD29PAD6AWGLa9JSlJemj7l6THtj9VbnFuexHYbgcGbe+UjzgLHNq+DawBt4BeYBy4sj33FxARA8BeOblh+0jSsO0mcAk8sD0u6Q3w0vZGdYWhiGgCKaXUAH7aHikDFMAU0IqIzrzkeX6nsvOU7Zak0YjYklRImgZaZXBqgW3gXtl4aHsQ2AWSpAZwXEleJ5Bl2feU0rztr5WdQ9IMcFJt7naDL5JeAKcR8S6ldAVM2j5rD1g3YB24C9wEDiQ9AU7rPkgd8HsAv5vXzUui544AAAAASUVORK5CYII=) center center no-repeat;
}
.fl-color-picker-clear{
	position: relative;
	display: block;
	float: left;
	width: 17px;
	height: 30px;
	border: 1px solid rgba(0,0,0,0.1);
	border-left: none;
	background-color: #FAFAFA;
	cursor: pointer;
}
.fl-color-picker-color.fl-color-picker-empty + .fl-color-picker-clear {
	display: none;
}

.fl-color-picker-ui{
	display: inline-block;
	z-index: 999999;
	position: fixed;
	overflow: hidden;
	padding-bottom: 45px;
	border: 1px solid rgba(0,0,0,0.1);
	color: #999;
	background-color: #FAFAFA;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-webkit-transition: opacity .2s, visibility .2s;
	   -moz-transition: opacity .2s, visibility .2s;
		-ms-transition: opacity .2s, visibility .2s;
		 -o-transition: opacity .2s, visibility .2s;
			transition: opacity .2s, visibility .2s;
	visibility: hidden;
	opacity: 0;
	-webkit-transform: translate3d(0,0,0);
}
.fl-color-picker-ui.fl-color-picker-active{
	visibility: visible;
	opacity: 1;
}
.fl-color-picker-ui .fl-color-picker-input,
.fl-color-picker-ui .fl-color-picker-input:focus{
	width: 100%;
	height: 30px;
	border: none !important;
	font-size: 14px !important;
	padding: 0 8px;
	vertical-align: middle;
	color: #999;
	background-color: #fff;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.fl-color-picker-preset-add{
	position: absolute;
	top: 8px;
	right: 8px;
	width: 14px;
	height: 14px;
	background-color: #999;
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition: all .2s;
	   -moz-transition: all .2s;
		-ms-transition: all .2s;
		 -o-transition: all .2s;
			transition: all .2s;
}
.fl-color-picker-preset-add:hover{
	background-color: #333;
}
.fl-color-picker-preset-add:before,
.fl-color-picker-preset-add:after{
	content: '';
	display: block;
	position: relative;
	background-color: #fff;
}
.fl-color-picker-preset-add:before{
	top: 6px;
	left: 3px;
    width: 8px;
    height: 2px;
}
.fl-color-picker-preset-add:after{
    left: 6px;
    top: 1px;
    width: 2px;
    height: 8px;
}
.fl-color-picker-presets{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 15;
	overflow: auto;
	border-top: 1px solid rgba(0,0,0,0.1);
	background-color: #FAFAFA;
}

.fl-color-picker-presets-toggle{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 35px;
	text-align: center;
	line-height: 35px;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	-webkit-transition: all .1s;
	   -moz-transition: all .1s;
		-ms-transition: all .1s;
		 -o-transition: all .1s;
			transition: all .1s;
}
.fl-color-picker-presets-toggle:hover{
	background-color: #EDEDED;
}
.fl-color-picker-presets-open-label,
.fl-color-picker-presets-close-label{
	position: absolute;
	top: 50%;
	left: 50%;
	visibility: hidden;
	color: #999;
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
		-ms-transition: all .5s;
		 -o-transition: all .5s;
			transition: all .5s;
	-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		 -o-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);	
	opacity: 0;
}
.fl-color-picker-presets-open-label.fl-color-picker-active,
.fl-color-picker-presets-close-label.fl-color-picker-active{
	color: #999;
	visibility: visible;
	opacity: 1;
}

.fl-color-picker-presets-list{
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: auto;
}

.fl-color-picker-presets-list .fl-color-picker-preset,
.fl-color-picker-presets-list .fl-color-picker-no-preset{
	position: relative;
	padding: 5px;
	font-size: 12px;
	border-top: 1px solid rgba(0,0,0,0.1);
	-webkit-transition: all .1s;
	   -moz-transition: all .1s;
		-ms-transition: all .1s;
		 -o-transition: all .1s;
			transition: all .1s;

}
.fl-color-picker-presets-list .fl-color-picker-preset:hover{
	background-color: #EDEDED;
}

.fl-color-picker-presets-list .fl-color-picker-preset-color{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 3px;
	vertical-align: middle;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 2px;
	cursor: pointer;
}
.fl-color-picker-presets-list .fl-color-picker-preset-label{
	vertical-align: middle;
	color: #999;
}
.fl-color-picker-clear .fl-color-picker-icon-remove,
.fl-color-picker-presets-list .fl-color-picker-preset-remove{
	position: absolute;
	top: 50%;
	cursor: pointer;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		 -o-transform: translateY(-50%);
			transform: translateY(-50%);
}
.fl-color-picker-clear .fl-color-picker-icon-remove{
	right: 0;
}
.fl-color-picker-presets-list .fl-color-picker-preset-remove{
	right: 5px;
}
.fl-color-picker-presets-list .fl-color-picker-preset-remove:hover:before,
.fl-color-picker-presets-list .fl-color-picker-preset-remove:hover:after{
	background-color: #333;
}

.fl-color-picker-added{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 35px;
	z-index: 10;
	color: #fff;
	text-align: center;
	background-color: rgba(0,0,0,.6);
}
.fl-color-picker-added-text{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	font-size: 14px;
	color: #fff !important;
	-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		 -o-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
}

/* CSS icons ========================================= */

.fl-color-picker-icon-check{
	position: relative;
	width: 50px;
	height: 50px;
	margin: 5px auto;
}
.fl-color-picker-icon-check:before{
	content: '';
	display: block;
	position: relative;
	width: 15px;
	height: 30px;
	margin-left: 14px;
	border: 7px solid #fff;
	border-left: none;
	border-top: none;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fl-color-picker-icon-arrow-up,
.fl-color-picker-icon-arrow-down{
	display: inline-block;
	position: relative;
	width: 10px;
	height: 10px;
	margin-left: 5px;
}
.fl-color-picker-icon-arrow-up:before,
.fl-color-picker-icon-arrow-down:before{
	content: '';
	display: block;
	position: relative;
	width: 6px;
	height: 6px;
	border: 2px solid #999;
	border-left: none;
	border-top: none;
    -webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
    	-ms-transform: rotate(45deg);
    	 -o-transform: rotate(45deg);
		    transform: rotate(45deg);
}
.fl-color-picker-icon-arrow-up{
	top: 2px;
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
    	-ms-transform: rotate(180deg);
    	 -o-transform: rotate(180deg);
    		transform: rotate(180deg);
}

.fl-color-picker-icon-remove{
	width: 15px;
	height: 15px;
}

.fl-color-picker-icon-remove:before,
.fl-color-picker-icon-remove:after{
	content: '';
	display: block;
	position: relative;
	background-color: #999;
}
.fl-color-picker-icon-remove:before{
	left: 6px;
    width: 2px;
    height: 10px;
    margin-top: 3px;
    background: #999;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.fl-color-picker-icon-remove:after{
    left: 6px;
    width: 2px;
    height: 10px;
    margin-top: -10px;
    background: #999;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}