.fl-lightbox-wrap {
	bottom: 0;
	display: none;
	left: 0;
	overflow: auto;
	padding: 30px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100010;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
}
.fl-lightbox-wrap.fl-icon-selector {
	z-index: 100011;
}
.fl-lightbox-mask {
	background: #000;
	bottom: 0;
	left: 0;
	opacity: 0.7;
	filter: alpha(opacity = 70);
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100010;
}
.fl-lightbox {
	background: #fff;
	box-shadow: rgba(0,0,0,1) 0 4px 30px;
	-moz-box-shadow: rgba(0,0,0,1) 0 4px 30px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 4px 30px;
	position: relative;
	z-index: 100011;
}
.fl-lightbox *:not(i) {
	color: #333;
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 12px;
	line-height: 16px;
	text-decoration: none;
	text-transform: none;
}
.fl-lightbox *, 
.fl-lightbox *:before, 
.fl-lightbox *:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.fl-lightbox .fl-nanoscroller-pane {
	bottom: 4px;
	right: 4px;
	width: 8px;
}
.fl-lightbox .fa {
	font-family: FontAwesome;
}
.fl-lightbox-content-wrap {
	height: 100%;
}
.fl-lightbox.ui-draggable {
	box-shadow: rgba(0,0,0,0.5) 0 4px 30px;
	-moz-box-shadow: rgba(0,0,0,0.5) 0 4px 30px;
	-webkit-box-shadow: rgba(0,0,0,0.5) 0 4px 30px;
}

/* Header */
.fl-lightbox-header {
	background: #fff;
	border-bottom: 1px solid #dfdfdf;
	box-shadow: 0 4px 4px -4px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 4px 4px -4px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 4px 4px -4px rgba(0,0,0,0.1);
	position: relative;
}
.fl-lightbox-header h1 {
	color: #333 !important;
	font-size: 18px !important;
	font-family: Helvetica, Verdana, sans-serif !important;
	font-weight: 300 !important;
	margin: 0 !important;
	padding: 15px 20px !important;
}
.fl-lightbox.ui-draggable .fl-lightbox-header {
	cursor: move;
}

/* Footer */
.fl-lightbox-footer {
	border-top: 1px solid #dfdfdf;
	box-shadow: 0 -4px 4px -4px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 -4px 4px -4px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 -4px 4px -4px rgba(0,0,0,0.1);
	padding: 10px;
	text-align: right;
}
.fl-lightbox-footer .fl-builder-button {
	margin-left: 5px !important;
}